<footer class="footer" id="footer">
    <div class="jumbotron margin-bt text-center bg-img">
        <div class="container">
            <div class="row">
                <div class="col-sm-2">
                    <a href="https://www.facebook.com/ooeska"><img class="scale-min" src="/img/if_social_media_social_media_logo_facebook_2993778.png"></img></a>
                </div>
                <div class="col-sm-2">
                    <a href="https://www.instagram.com/jakub.lack/"><img class="scale-min" src="/img/if_social_media_social_media_logo_instagram_2993766.png"></img></a>
                </div>
                <div class="col-sm-2">
                    <a href="https://www.linkedin.com/in/jakub-lackani%C4%8D-858942142/"><img class="scale-min" src="/img/if_social_media_social_media_logo_likedin_2993765.png"></img></a>
                </div>
                <div class="col-sm-2">
                    <a href="https://www.youtube.com/channel/UCFt6DuaoGGuw5yBHmz1vyaQ?view_as=subscriber"><img class="scale-min" src="/img/if_social_media_social_media_logo_youtube_2993724.png"></img></a>
                </div>
                <div class="col-sm-2">
                    <a href="https://github.com/jakublackanic"><img class="scale-min" src="/img/if_social_media_social_media_logo_github_2993771.png"></img></a>
                </div>
                <div class="col-sm-2">
                    <a href="https://slack.com/"><img class="scale-min" src="/img/if_social_media_social_media_logo_slack_2993744.png"></img></a>
                </div>
            </div>
        </div>
    </div>
</footer>
