<div class="sidebar-nav-fixed affix" style="padding-top:2%;">
    <div class="well">
        <ul class="nav">
            <li class="nav-header">You can navigate with this sidebar!</li>
            <li><a href="#personal">Personal</a>
            </li>
            <li><a href="#schools">Schools</a>
            </li>
            <li><a href="#skills">Skills</a>
            </li>
            <li><a href="/project/">Projects</a>
            </li>
        </ul>
    </div>
    <!--/.well -->
</div>
<script>
$('a').click(function(){
    $('html, body').animate({
        scrollTop: $( $(this).attr('href') ).offset().top
    }, 500);
    return false;
});
</script>
<!--/sidebar-nav-fixed -->